.masonry-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -1.25rem;
  width: auto;
}
.masonry-column {
  padding-left: 1.25rem;
  background-clip: padding-box;
}
.masonry-column > div {
  margin-bottom: 1.25rem;
  border-radius: 0.75rem;
}